body {
	font: 100% Georgia, "Times New Roman", Times, serif;
	background: #1a1b52;
	margin: 0;
	padding: 0;
	color: #000000;
}

a {
	color: #FFF;
	text-decoration: underline;
}

a:hover,
a:active,
a:focus {
	text-decoration: none;
}

p,
#mainContent ul,
#mainContent ol {
	font-family: Arial, Helvetica, sans-serif;
	line-height: 1.5;
	color: #FFF;
}

h1 {
	font-size: 225%
}

h2 {
	font-size: 175%
}

h3 {
	font-size: 150%
}

h4 {
	font-size: 135%;
}

h1,
h2,
h3,
h4 {
	color: #FF9F00;
	font-weight: normal;
}

#container {
	width: 100%;
	background: #FFFFFF;
	text-align: left;
	font-size: 80%;
}

#header {
	background: #fff url(../images/logo_background.gif) no-repeat right top;
	border-bottom: #9290BF 1px solid;
}

#header img {
	margin: 31px 0 31px 40px;
}

a img {
	border: 0;
}

#header ul {
	margin: 0;
	padding: 0;
	list-style: none;
	background: #FFAD00 url(../images/nav_bar_back.jpg) repeat-x;
	float: left;
	width: 100%;
	border-bottom: 1px solid #575691;
}

#header li {
	font-size: 100%;
	float: left;
}

#header li#living {
	padding-left: 28px;
}

#header li a {
	float: left;
	display: block;
	padding: 8px 12px;
	color: #FFFFFF;
	text-decoration: none;
}

#header li a:hover,
#header li a:active,
#header li a:focus {
	color: #1B1A52;
}

.living #living a,
.business #business a,
.chamber #chamber a {
	color: #1A1B52;
	font-weight: bold;
}

#mainWrap {
	background: #403E8A url(../images/main_back.jpg) repeat-x;
	padding-bottom: 20px;
	border-bottom: 10px solid #36357D;
}

#sidebar1 {
	float: left;
	width: 23%;
	background: #EBEBEB;
	padding: 15px 0;
	background: url(../images/side1_back.jpg) no-repeat right top;
}

#sidebar1 ul {
	margin: 15px 35px 0 0;
	padding: 0px;
	font-size: 105%;
	list-style: none;
}

#sidebar1 li a {
	color: #FFF;
	text-decoration: none;
	display: block;
	padding: 5px 0px 5px 40px;
}

#sidebar1 li a:hover,
#sidebar1 li a:active,
#sidebar1 li a:focus {
	color: #FF9F00;
}

.visiting #visiting a,
.moving #moving a,
.maplocator #maplocator a,
.directory #directory a {
	background: url(../images/arrow.gif) no-repeat left center;
	color: #FFF;
}

#sidebar2 {
	float: right;
	width: 23%;
	background: #EBEBEB;
	padding: 15px 0;
	background: url(../images/side2_back.jpg) no-repeat right top;
	min-height: 145px;
}

#sidebar2 p,
#sidebar2 h3 {
	margin-left: 10px;
	margin-right: 30px;
}

#mainContent {
	margin: 0 24% 0 23.5%;
	padding-top: 10px;
	background: url(../images/content_back.jpg) no-repeat right top;
	padding-right: 100px;
}

#mainContent ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#mainContent li {
	background: url(../images/arrow.gif) no-repeat left center;
	padding-left: 15px;
}

#footer {
	padding: 0px 30px 0 40px;
	border-top: 10px solid "2D2D70";
	background: #1a1b52;
}

#footer ul {
	margin: 0px;
	padding: 0px;
	float: right;
	width: 39%;
	list-style: none;
}

#footer li {
	float: right;
}

#footer li a {
	display: block;
	padding: 10px;
	color: #5C5A99;
	text-decoration: none;
}

#footer li a:hover,
#footer li a:active,
#footer li a:focus {
	color: #FF9F00;
}

#footer p {
	margin: 0;
	padding: 10px 0;
	font-family: Georgia, 'Times New Roman', Times, serif;
	color: #5C5A99;
	width: 100%;
	background: #1a1b52;
}

.fltrt {
	float: right;
	margin-left: 8px;
}

.fltlft {
	float: left;
	margin-right: 8px;
}

.clearfloat {
	clear: both;
	height: 0;
	font-size: 1px;
	line-height: 0px;
}