/* Variables */
/* Base */
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #303030;
}

.card-overlay, .card-img, .hamburger-menu .menu {
  height: 100%;
  width: 100%;
}

/* Layout */
.navbar-navigation {
  display: flex;
  position: relative;
  z-index: 25;
}
.navbar-navigation-left {
  width: 50vw;
  height: 100vh;
  background-color: #303030;
  position: fixed;
  left: -50vw;
  transition: left 0.7s ease-in-out;
}
@media screen and (max-width: 678px) {
  .navbar-navigation-left {
    width: 100vw;
    left: -100vw;
  }
}
.navbar-navigation-left .left-img {
  width: 50%;
  position: absolute;
  border-radius: 15px;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.5);
  opacity: 0.8;
}
@media screen and (max-width: 678px) {
  .navbar-navigation-left .left-img {
    width: 60%;
  }
}
.navbar-navigation-left .left-img-1 {
  top: 15%;
  left: 15%;
}
@media screen and (max-width: 678px) {
  .navbar-navigation-left .left-img-1 {
    top: 10%;
    left: 20%;
  }
}
.navbar-navigation-left .left-img-2 {
  top: 35%;
  left: 25%;
}
@media screen and (max-width: 678px) {
  .navbar-navigation-left .left-img-2 {
    top: 40%;
    left: 20%;
  }
}
.navbar-navigation-left .left-img-3 {
  top: 55%;
  left: 35%;
}
@media screen and (max-width: 678px) {
  .navbar-navigation-left .left-img-3 {
    top: 70%;
    left: 20%;
  }
}
.navbar-navigation-right {
  width: 50vw;
  height: 100vh;
  background-color: rgb(35.25, 35.25, 35.25);
  position: fixed;
  right: -50vw;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: right 0.7s ease-in-out;
}
@media screen and (max-width: 678px) {
  .navbar-navigation-right {
    width: 100vw;
    right: -100vw;
    opacity: 0.8;
  }
}
.navbar-navigation .nav-list-item {
  list-style: none;
}
.navbar-navigation .nav-list-link {
  font-family: "Marck Script", cursive;
  font-size: 50px;
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: capitalize;
  color: #ccc;
  text-decoration: none;
  display: block;
  margin: 20px;
  text-align: center;
  transition: all 0.7s;
}
.navbar-navigation .nav-list-link:hover {
  color: #d8ae53;
  letter-spacing: 5px;
}

.header {
  width: 100%;
  min-height: 100vh;
  height: auto;
  position: relative;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3)), url(../images/bg.jpg) center no-repeat;
  background-size: cover;
}
@media screen and (max-width: 450px) {
  .header {
    min-height: 70vh;
  }
}
.header .brand {
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.header-banner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media screen and (max-width: 400px) {
  .header-banner {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.about-us {
  padding: 80px 0;
  display: flex;
  align-items: center;
}
@media screen and (max-width: 992px) {
  .about-us {
    flex-direction: column;
    padding: 50px 0;
  }
}
.about-us-left {
  width: 40%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about-us-left img {
  max-width: 350px;
  width: 100%;
  height: auto;
  display: block;
}
@media screen and (max-width: 992px) {
  .about-us-left {
    width: 100%;
  }
}
.about-us-right {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 100px;
  box-sizing: border-box;
}
@media screen and (max-width: 992px) {
  .about-us-right {
    width: 100%;
    padding: 0 30px;
  }
}
.about-us-right .stars {
  margin: 30px 0;
}
.about-us-right .star {
  font-size: 15px;
  color: #d8ae53;
  margin-left: 10px;
}
.about-us-right .description {
  font-family: Roboto, sans-serif;
  font-size: 20px;
  font-style: italic;
  color: #ccc;
  text-align: justify;
}
.about-us-right .description::first-letter {
  padding-left: 20px;
  font-size: 28px;
}

.gallery .cards-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.footer {
  padding: 70px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@media screen and (max-width: 600px) {
  .footer {
    width: 80%;
    margin: auto;
  }
}
.footer-header {
  display: flex;
  align-items: center;
  margin-bottom: 70px;
}
.footer .social-media {
  display: flex;
  width: 300px;
  justify-content: space-between;
  margin-bottom: 70px;
}
@media screen and (max-width: 400px) {
  .footer .social-media {
    width: 100%;
  }
}
.footer .social-media-item {
  list-style: none;
}
@media screen and (max-width: 400px) {
  .footer .social-media-item {
    margin: 10px;
  }
}
.footer .social-media-link {
  text-decoration: none;
  font-size: 50px;
  color: #d8ae53;
  transition: color 0.5s;
}
.footer .social-media-link:hover {
  color: #ccc;
}
.footer-copyright-paragraph {
  font-family: Roboto, sans-serif;
  font-size: 18px;
  color: #ccc;
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: capitalize;
}
@media screen and (max-width: 620px) {
  .footer-copyright-paragraph {
    font-size: 14px;
    text-align: center;
  }
}

/* COMPONENTS */
.hamburger-menu {
  width: 40px;
  height: 40px;
  position: fixed;
  top: 5%;
  right: 5%;
  z-index: 50;
}
@media screen and (max-width: 678px) {
  .hamburger-menu {
    width: 25px;
    height: 25px;
  }
}
.hamburger-menu .menu {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  cursor: pointer;
  transition: transform 0.5s;
}
.hamburger-menu .menu-line {
  width: 100%;
  height: 3px;
  background-color: #d8ae53;
  transition: all 0.5s 0.5s;
  transform-origin: right;
  border-radius: 3px;
}
@media screen and (max-width: 678px) {
  .hamburger-menu .menu-line {
    height: 2px;
  }
}

.checkbox {
  display: none;
}

.checkbox:checked ~ .navbar-navigation .navbar-navigation-left {
  left: 0;
}

.checkbox:checked ~ .navbar-navigation .navbar-navigation-right {
  right: 0;
}

.checkbox:checked ~ .hamburger-menu .menu {
  transform: rotate(90deg);
}

.checkbox:checked ~ .hamburger-menu .menu-line-1 {
  transform: rotate(-40deg);
}

.checkbox:checked ~ .hamburger-menu .menu-line-2 {
  opacity: 0;
}

.checkbox:checked ~ .hamburger-menu .menu-line-3 {
  transform: rotate(40deg);
}

.logo {
  font-size: 70px;
  color: #d8ae53;
  display: block;
  width: 100px;
  height: 100px;
  text-decoration: none;
  border: 4px solid #d8ae53;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 420px) {
  .logo {
    width: 70px;
    height: 70px;
    font-size: 40px;
    margin: 5px;
  }
}

.main-name {
  font-family: "Marck Script", cursive;
  font-size: 50px;
  color: #ccc;
  text-align: center;
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: none;
}
@media screen and (max-width: 420px) {
  .main-name {
    font-size: 35px;
  }
}

.sub-name {
  font-family: Roboto, sans-serif;
  font-size: 18px;
  color: #ccc;
  text-align: center;
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
}
@media screen and (max-width: 420px) {
  .sub-name {
    font-size: 14px;
  }
}

.main-heading {
  font-family: "Marck Script", cursive;
  font-size: 100px;
  font-weight: 300;
  color: #d8ae53;
  margin-bottom: 40px;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .main-heading {
    font-size: 50px;
    margin-bottom: 15px;
  }
}

.sub-heading {
  font-family: Roboto, sans-serif;
  font-size: 60px;
  font-weight: 300;
  color: #ccc;
  margin-bottom: 80px;
}
@media screen and (max-width: 768px) {
  .sub-heading {
    font-size: 30px;
    margin-bottom: 40px;
    text-align: center;
  }
}

.main-btn {
  width: 200px;
  height: 45px;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #ccc;
  background-color: transparent;
  border: 1px solid #d8ae53;
  outline: none;
  cursor: pointer;
  transition: all 0.5s;
  display: block;
  margin: 0 auto;
}
.main-btn:hover {
  background-color: #d8ae53;
  color: #303030;
}

.card {
  width: 33.3333%;
  height: 30vw;
  position: relative;
  overflow: hidden;
}
@media screen and (max-width: 768px) {
  .card {
    width: 80%;
    height: auto;
    margin: auto;
    padding: 10px;
  }
}
.card:hover .card-overlay {
  left: 0;
}
.card-img {
  -o-object-fit: cover;
     object-fit: cover;
}
.card-overlay {
  position: absolute;
  top: 0;
  left: -100%;
  background-color: rgba(216, 174, 83, 0.3);
  color: #fff;
  z-index: 20;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: left 0.5s;
}
.card-overlay-heading {
  font-family: Raleway, sans-serif;
  font-size: 3vw;
  text-align: center;
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: capitalize;
}
@media screen and (max-width: 900px) {
  .card-overlay-heading {
    font-size: 3vw;
  }
}
@media screen and (max-width: 768px) {
  .card-overlay-heading {
    font-size: 4vw;
  }
}
.card-overlay-paragraph {
  font-family: Roboto, sans-serif;
  font-size: 2vw;
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: capitalize;
  margin: 30px;
}
@media screen and (max-width: 900px) {
  .card-overlay-paragraph {
    font-size: 1.8vw;
  }
}
@media screen and (max-width: 768px) {
  .card-overlay-paragraph {
    font-size: 3vw;
  }
}
.card-overlay-btn {
  width: 150px;
  height: 40px;
  color: #d8ae53;
  background-color: #fff;
  font-family: Raleway, sans-serif;
  font-size: 1.5vw;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  border: 1px solid #d8ae53;
  border-radius: 20px;
  outline: none;
  cursor: pointer;
}
@media screen and (max-width: 900px) {
  .card-overlay-btn {
    font-size: 1.2vw;
  }
}
@media screen and (max-width: 768px) {
  .card-overlay-btn {
    font-size: 2.2vw;
  }
}