/* Variables */
/* Base */
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #303030;
}

/* Layout */
.header {
  width: 100%;
  height: 100vh;
  background-image: url(../images/bg.jpg);
  background-size: cover;
}

.brand {
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
}