/* Layout */
.header {
    color: $color-white;
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba($color-black, 0,6)),rgba($color-black, 0.3), url(../images/bg.jpg) no-repeat center;
    background-size: cover;
}

.brand {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%)
}
