/* Layout */

.navbar {
    &-navigation {
        display: flex;
        position: relative;
        z-index: 25;

        &-left {
            width: 50vw;
            height: 100vh;
            background-color: $color-dark;
            position: fixed;
            left: -50vw;
            transition: left 0.7s ease-in-out;

            @media screen and (max-width: 678px) {
                width: 100vw;
                left: -100vw;
                
            }

            .left-img {
                width: 50%;
                position: absolute;
                border-radius: 15px;
                box-shadow: 0 15px 40px rgba($color-black, 0.5);
                opacity: 0.8;

                @media screen and (max-width: 678px) {
                    width: 60%;
                    
                }
            }

            .left-img-1 {
                top: 15%;
                left: 15%;
                @media screen and (max-width: 678px) {
                    top: 10%;
                    left: 20%;
                }
            }

            .left-img-2 {
                top: 35%;
                left: 25%;
                @media screen and (max-width: 678px) {
                    top: 40%;
                    left: 20%;
                }
            }

            .left-img-3 {
                top: 55%;
                left: 35%;
                @media screen and (max-width: 678px) {
                    top: 70%;
                    left: 20%;
                }
            }
        }

        &-right {
            width: 50vw;
            height: 100vh;
            background-color: darken($color-dark, 5%);
            position: fixed;
            right: -50vw;
            @include flexLayout;
            transition: right 0.7s ease-in-out;

            @media screen and (max-width: 678px) {
                width: 100vw;
                right: -100vw;
                opacity: 0.8;
            }
        }

        .nav-list {
            &-item {
                list-style: none;
            }

            &-link {
                font-family: $font-Marck;
                font-size: 50px;
                @include textStyles (capitalize);
                color: $color-secondary;
                text-decoration: none;
                display: block;
                margin: 20px;
                text-align: center;
                transition: all 0.7s;

                &:hover {
                    color: $color-primary;
                    letter-spacing: 5px;
                }
            }
            
        }
    }
}


.header {
    width: 100%;
    min-height: 100vh;
    height: auto;
    position: relative;
    background: linear-gradient(rgba($color-black, 0.6), rgba($color-black, 0.3)), url(../images/bg.jpg) center no-repeat;
    background-size: cover;

    @media screen and (max-width: 450px) {
        min-height: 70vh;
    }

    .brand {
        position: absolute;
        top: 15%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        align-items: center;
        @include centering(15%);
    }

    &-banner {
        @include centering(50%);

        @media screen and (max-width: 400px) {
            @include centering(60%)
        }
    }
}

.about-us {
    padding: 80px 0;
    display: flex;
    align-items: center;

    @media screen and (max-width: 992px) {
            flex-direction: column;
            padding: 50px 0;
        }

    &-left {
        width: 40%;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            max-width: 350px;
            width: 100%;
            height: auto;
            display: block;
        }

        @media screen and (max-width: 992px) {
            width: 100%;
        }
    }

    &-right {
        width: 60%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 100px;
        box-sizing: border-box;

        @media screen and (max-width: 992px) {
            width: 100%;
            padding: 0 30px;
        }

        .stars {
            margin: 30px 0;
        }

        .star {
            font-size: 15px;
            color: $color-primary;
            margin-left: 10px;
        }

        .description {
            font-family: $font-Roboto;
            font-size: 20px;
            font-style: italic;
            color: $color-secondary;
            text-align: justify;

            &::first-letter {
                padding-left: 20px;
                font-size: 28px;
            }
        }
    }
}

.gallery {
    .cards-wrapper {
        display: flex;
        flex-wrap: wrap;
    }
}

.footer {
    padding: 70px 0;
    @include flexLayout;
    flex-direction: column;

    @media screen and (max-width: 600px) {
        width: 80%;
        margin: auto;
        }

    &-header {
        display: flex;
        align-items: center;
        margin-bottom: 70px;
    }

    .social-media {
        display: flex;
        width: 300px;
        justify-content: space-between;
        margin-bottom: 70px;

        @media screen and (max-width: 400px) {
            width: 100%;
        }

        &-item {
            list-style: none;

            @media screen and (max-width: 400px) {
                margin: 10px;
            }
        }

        &-link {
            text-decoration: none;
            font-size: 50px;
            color: $color-primary;
            transition: color 0.5s;

            &:hover {
                color: $color-secondary;
            }
        }
    }

    &-copyright-paragraph {
        font-family: $font-Roboto;
        font-size: 18px;
        color: $color-secondary;
        @include textStyles (capitalize);

        @media screen and (max-width: 620px) {
            font-size: 14px;
            text-align: center;
        }
    }
}